.home__main {
    width: 100%;
    background-color: #fff;
    display: flex;
}

// 聊天窗
.chat {
    &__pane {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__msg {
        &-title {
            padding: 10px;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            font-weight: bolder;
        }

        &-container {
            padding: 30px;
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &__input {
        width: 100%;
        height: 140px;
        background-color: red;
        border: none !important;
        border-radius: 0px !important;
        border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
}