// 消息项
.msg {
    &__item {
        width: 100%;
        min-height: 40px;
        display: flex;
        gap: 10px;
        flex: 1;
        margin-bottom: 16px;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        background-color: #000;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        &-name {
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &-text {
            position: relative;
            padding: 8px 16px;
            width: fit-content;
            background-color: rgb(244, 244, 244);
            border-radius: 4px;
        }
    }
}

.msg__item--self {
    flex-direction: row-reverse;

    .msg {
        &__content {
            &-name {
                margin-left: auto;
            }

            &-text {
                margin-left: auto;
            }
        }
    }
}